.topnav{
    background-color: lightslategrey;
    overflow: hidden;
}
.topnav a{
    color: whitesmoke;
    float: left;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
}
.topnav a:hover{
    color: black;
    background-color: azure;
    text-decoration: none;
}
.topnav-right{
    float: right;
}