body{
    background-color: antiquewhite;
    margin: 0;

}
*{
    box-sizing: border-box;
}
h1{
    
    color: palevioletred;
    text-decoration: underline;
    text-transform: uppercase;

}

.topnav{
    background-color: lightslategrey;
    overflow: hidden;
}
.topnav a{
    color: whitesmoke;
    float: left;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
}
.topnav a:hover{
    color: black;
    background-color: azure;
    text-decoration: none;
}
.topnav-right{
    float: right;
}
.header{
    
    background-color: lavender;
    padding: 10px;
    text-align: center;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.content{
    float: left;
    width: 66%;
    padding: 15px;
}
.side_bar{
    float: left;
    width: 34%;
    padding: 15px;
}
.index_img{
    width: 40%s;
}
@media screen and (max-width: 700px){
    .content, .side_bar, img{
        width: 100%;
    }
    img{
        padding-right: 15px;
        width: 40%;
    }

    .index_img{
        width:100%;
    }
    
}
.footer{
    background-color:wheat;
    padding: 20px;
    text-align: center;
    font-size: smaller;
}
.about_img{
    width: 60%;
}
img{
    padding-right: 15px;
    width: 40%;
}
input[type=text], input[type=email], select,textarea{
    width: 60%;
    padding: 14px 20px;
    font-size: 1.6em;
    border-radius: 4px;
    border: 1px solid;
    margin: 8px 0;
    box-sizing: border-box;
}











